.portfolio-project {
  background-color: #313131;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  padding-top: 130px;
  border-top: 1px solid #565656;
}
.portfolio-project .portfolio-section {
  display: flex;
  margin-top: 2rem;
}
.portfolio-project .portfolio-card .portfolio-image {
  overflow: hidden;
}
.portfolio-project .portfolio-section .portfolio-image img {
  border-top-left-radius: 5px;
  height: 240px;
  border-top-right-radius: 5px;
  width: 100% !important;
}
.portfolio-project .portfolio-section .portfolio-image img:hover {
  transform: scale(1.1);
}
.portfolio-project .header h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.portfolio-project .header small {
  font-style: italic;
}
.portfolio-project .portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  margin-top: 30px;
  background-color: #424242;
  margin: 1rem;
  border-radius: 5px;
}

.portfolio-project .portfolio-content {
  padding: 1rem 2rem;
}
.project-visit {
  color: var(--themeColor--);
}
.project-visit:hover {
  color: var(--themeColor--);
}
.portfolio-heading {
  font-size: 1.2rem;
  font-weight: 700;
}
.portfolio-desc {
  font-size: 0.8rem;
}
.project-addons .far {
  color: var(--themeColor--);
}
@media (max-width: 992px) {
  .portfolio-project {
    padding: 20px;
    padding-top: 130px;
  }
  .portfolio-project .portfolio-section {
    flex-direction: column;
  }
  .portfolio-project .portfolio-card {
    width: 100%;
    margin: 1rem auto;
  }
  .portfolio-project .portfolio-section .portfolio-image {
    height: 200px;
  }
}
