.team {
  background-color: #323232;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-top: 1px solid #565656;
  padding-top: 130px;
}
.team .header h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.team .header small {
  font-style: italic;
}
.team-members-section {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.team-members-section .member-content {
  margin: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.team-members-section .member-content .member-name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.team-members-section .member-content .member-designation {
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 2rem;
}
.team-members-section .member-social-networks .social-link {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #ccc;
  background-color: #323232;
  margin: 0.2rem 0.3rem;
}

.social-link .fab,
.social-link .far {
  font-size: 1.5rem;
}
.social-link .fab:hover,
.social-link .far:hover {
  transition: 0.2s ease-in-out;
  color: var(--themeColor--);
}
.member-content .member-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid var(--themeColor--);
  margin-bottom: 1rem;
  box-shadow: 0.1rem 0.4rem 0.3rem #212121;
}

@media (max-width: 992px) {
  .team-members-section {
    flex-direction: column;
  }
  .team {
    padding: 20px;
    padding-top: 130px;
  }
}
